<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title th:text="${customer.id == null ? 'Novo Cliente' : 'Editar Cliente'}">Cliente</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
  <h1 th:text="${customer.id == null ? 'Novo Cliente' : 'Editar Cliente'}">Título do Formulário</h1>

  <a th:href="@{/customer}">
    <button type="button">Página Inicial</button>
  </a>

  <form th:action="@{/customer}" th:object="${customer}" method="post">
    <input type="hidden" th:field="*{id}" />
    <div>
      <label for="firstName">Nome:</label>
      <input type="text" id="firstName" th:field="*{firstName}" />
      <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
    </div>
    <div>
      <label for="lastName">Sobrenome:</label>
      <input type="text" id="lastName" th:field="*{lastName}" />
      <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
    </div>
    <div>
      <label for="cpf">CPF:</label>
      <input type="text" id="cpf" th:field="*{cpf}" />
      <div th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"></div>
    </div>
    <div>
      <label for="birthDate">Data de Nascimento:</label>
      <input type="date" id="birthDate" th:field="*{birthDate}" />
      <div th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></div>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="text" id="email" th:field="*{email}" />
      <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </div>
    <div>
      <label for="phone">Telefone:</label>
      <input type="text" id="phone" th:field="*{phone}" />
      <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
    </div>
    <div>
      <label for="cep">CEP:</label>
      <input type="text" id="cep" th:field="*{cep}" />
      <div th:if="${#fields.hasErrors('cep')}" th:errors="*{cep}"></div>
    </div>
    <div>
      <label for="state">Estado:</label>
      <input type="text" id="state" th:field="*{state}" />
      <div th:if="${#fields.hasErrors('state')}" th:errors="*{state}"></div>
    </div>
    <div>
      <label for="city">Cidade:</label>
      <input type="text" id="city" th:field="*{city}" />
      <div th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></div>
    </div>
    <div>
      <label for="address">Endereço:</label>
      <input type="text" id="address" th:field="*{address}" />
      <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
    </div>
    <div>
      <button type="submit">Salvar</button>
    </div>
  </form>

  <script th:src="@{/js/cep.js}"></script>
</body>

</html>