<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Clientes</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
  <h1>Clientes</h1>

  <a th:href="@{/customer/new}">
    <button type="button">Novo Cliente</button>
  </a>

  <form th:action="@{/customer/search}" method="get">
    <label for="searchId">Buscar por ID:</label>
    <input type="number" id="searchId" name="id" placeholder="Digite o ID" required
      oninput="submitSearchForm(this.form)" />
  </form>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>CPF</th>
        <th>Data de Nascimento</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>CEP</th>
        <th>Estado</th>
        <th>Cidade</th>
        <th>Endereço</th>
        <th>Data do Registro</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="customer : ${customer}">
        <td th:text="${customer.id}">ID</td>
        <td th:text="${customer.firstName + ' ' + customer.lastName}">Nome</td>
        <td th:text="${customer.cpf}">CPF</td>
        <td th:text="${customer.birthDate}">Data de Nascimento</td>
        <td th:text="${customer.email}">Email</td>
        <td th:text="${customer.phone}">Telefone</td>
        <td th:text="${customer.cep}">CEP</td>
        <td th:text="${customer.state}">Estado</td>
        <td th:text="${customer.city}">Cidade</td>
        <td th:text="${customer.address}">Endereço</td>
        <td th:text="${customer.registrationDate}">Data do Registro</td>
        <td>
          <a th:href="@{/customer/edit/{id}(id=${customer.id})}">
            <button type="button">Editar</button>
          </a>
          <button type="button" onclick="confirmDelete(event, this)" th:attr="data-id=${customer.id}">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="pagination">
    <a th:if="${currentPage > 0}" th:href="@{/customer(page=${currentPage - 1}, size=${size})}">
      Anterior
    </a>

    <span th:text="'Página ' + ${currentPage + 1} + ' de ' + ${totalPages}"></span>

    <a th:if="${hasNextPage}" th:href="@{/customer(page=${currentPage + 1}, size=${size})}">
      Próxima
    </a>
  </div>

  <script th:src="@{/js/delete-confirmation.js}" defer></script>
  <script th:src="@{/js/search.js}"></script>
</body>

</html>